html, body, #txtv, #pages > div, .page {
	width: 100%;
	height: 416px;
	background: #000;
}

.landscape html, .landscape body, .landscape #txtv, .landscape #pages > div, .landscape .page {
    width: 480px;
    height: 416px;
}


.landscape pre.root { 
    font-size: 14.4px;
    word-spacing: 120%;
    line-height: 13px;
}

.landscape #pages {
    left: 40px;
    position: absolute;
}


.portrait pre.root {
    font-size: 11.4px;
}

html, body, #txtv {
	position: relative;
	overflow: hidden;	
}

* {
	margin: 0;
	padding: 0;
   -webkit-user-select: none;  /* prevent copy paste for all elements */
}

a, input {
	-webkit-user-select: auto;
}

#pages > div {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.page {
	position: absolute;
}

.page:nth-child(2){ left: 100%; }
.page:nth-child(3){ left: 200%; }
.page:nth-child(4){ left: 300%; }
.page:nth-child(5){ left: 400%; }
.page:nth-child(6){ left: 500%; }
.page:nth-child(7){ left: 600%; }
.page:nth-child(8){ left: 700%; }
.page:nth-child(9){ left: 800%; }
.page:nth-child(10){ left: 900%; }
.page:nth-child(11){ left: 1000%; }
.page:nth-child(12){ left: 1100%; }
.page:nth-child(13){ left: 1200%; }
.page:nth-child(14){ left: 1300%; }
.page:nth-child(15){ left: 1400%; }
.page:nth-child(16){ left: 1500%; }

.anim {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
}

.loader {
	background: #000 url(../pics/ajax-loader.gif) no-repeat scroll center center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.6;
	z-index:1337;
}

.landscape .loader {
    height: 300px;
}

.loader span {
	font-family: Helvetica, sans-serif;
	position: absolute;
	color: #fff;
	font-size: 800%;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

#numpad {
	position: absolute;
	top: 0;
	left: -10px;
	width: 80px;
	height: 80px;
	opacity: 0.2;
	z-index: 1337;
	background: none;
	-webkit-appearance: none;
	border: none;
	line-height: 0;
	font-size: 0;
	color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#refreshBar {
    width: 100%;
    height: 40px;
    position: absolute;
}


#top, #right, #bottom, #left {
    top: 0;
    position: absolute;
    opacity: 0;
    background: #f00;
}

#top, #bottom {
    margin: 0 auto;
    width: 160px;
    height: 40px;
}

#left, #right {
    width: 40px;
    height: 160px;
    bottom: 0px;
    top: auto;
}

.portrait #top, .portrait #bottom {
    left: 80px;
}

.landscape #top, .landscape #bottom {
    left: 160px;
}

#right {
    right: 0;
}

#bottom {
    top: auto;
    bottom: 0;
}
